@model PropertyRenumbering.Models.PropertyDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PropertyDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <input asp-for="PropertyTypeId" class="form-control" />
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NewPropertyNumber" class="control-label"></label>
                <input asp-for="NewPropertyNumber" class="form-control" />
                <span asp-validation-for="NewPropertyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPropertyNumber" class="control-label"></label>
                <input asp-for="OldPropertyNumber" class="form-control" />
                <span asp-validation-for="OldPropertyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalityId" class="control-label"></label>
                <select asp-for="LocalityId" class ="form-control" asp-items="ViewBag.LocalityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LandUseId" class="control-label"></label>
                <input asp-for="LandUseId" class="form-control" />
                <span asp-validation-for="LandUseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandUseTypeId" class="control-label"></label>
                <input asp-for="LandUseTypeId" class="form-control" />
                <span asp-validation-for="LandUseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acreage" class="control-label"></label>
                <input asp-for="Acreage" class="form-control" />
                <span asp-validation-for="Acreage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acreage2" class="control-label"></label>
                <input asp-for="Acreage2" class="form-control" />
                <span asp-validation-for="Acreage2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockNumber" class="control-label"></label>
                <input asp-for="BlockNumber" class="form-control" />
                <span asp-validation-for="BlockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotNumber" class="control-label"></label>
                <input asp-for="PlotNumber" class="form-control" />
                <span asp-validation-for="PlotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotSizeId" class="control-label"></label>
                <input asp-for="PlotSizeId" class="form-control" />
                <span asp-validation-for="PlotSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lane" class="control-label"></label>
                <input asp-for="Lane" class="form-control" />
                <span asp-validation-for="Lane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighbourhood" class="control-label"></label>
                <input asp-for="Neighbourhood" class="form-control" />
                <span asp-validation-for="Neighbourhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerCode" class="control-label"></label>
                <input asp-for="CustomerCode" class="form-control" />
                <span asp-validation-for="CustomerCode" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LargeScale" class="control-label"></label>
                <input asp-for="LargeScale" class="form-control" />
                <span asp-validation-for="LargeScale" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DebtorType" class="control-label"></label>
                <input asp-for="DebtorType" class="form-control" />
                <span asp-validation-for="DebtorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupNumber" class="control-label"></label>
                <input asp-for="GroupNumber" class="form-control" />
                <span asp-validation-for="GroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <input asp-for="CurrencyId" class="form-control" />
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UnitsOccupied" class="control-label"></label>
                <input asp-for="UnitsOccupied" class="form-control" />
                <span asp-validation-for="UnitsOccupied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyRent" class="control-label"></label>
                <input asp-for="MonthlyRent" class="form-control" />
                <span asp-validation-for="MonthlyRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightOfEntry" class="control-label"></label>
                <input asp-for="RightOfEntry" class="form-control" />
                <span asp-validation-for="RightOfEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeasePeriodId" class="control-label"></label>
                <input asp-for="LeasePeriodId" class="form-control" />
                <span asp-validation-for="LeasePeriodId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PropertyHeightId" class="control-label"></label>
                <input asp-for="PropertyHeightId" class="form-control" />
                <span asp-validation-for="PropertyHeightId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
